﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <!-- ~~~=| Banner START |=~~~ -->
<section class="hp_banner_area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="hp_banner_box">
                    <div class="hp_banner_left">
                        <div class="bl_single_news">
                            <img src="~/images/blt-banner1.jpg" alt="" />
                            <div class="bl_single_text">
                                <a href="blog-single-slider-post.html">
                                    <h4>20 Myths About Mobile Devices</h4>
                                </a> <span><i class="fa fa-clock-o"></i> 3 mins ago</span>
                            </div>
                        </div>
                        <div class="bl_single_news">
                            <img src="~/images/blt-banner2.jpg" alt="" />
                            <div class="bl_single_text">
                                <a href="blog-single-slider-post.html">
                                    <h4>What Do Need To Make a Business ?</h4>
                                </a> <span><i class="fa fa-clock-o"></i> 4 hours ago</span>
                            </div>
                        </div>
                        <div class="bl_single_news">
                            <img src="~/images/bann2.jpg" alt="" />
                            <div class="bl_single_text">
                                <a href="blog-single-slider-post.html">
                                    <h4>The Ultimate Cheat Sheet On Ecology</h4>
                                </a> <span><i class="fa fa-clock-o"></i> 5 hours ago</span>
                            </div>
                        </div>
                    </div>
                    <div class="hp_banner_right">
                        <div class="br_single_news">
                            <img src="~/images/brt-banner1.jpg" alt="" />
                            <div class="br_single_text">
                                <span class="green_hp_span">Environment</span> <a href="blog-single-slider-post.html">
                                    <h4>The Ultimate Cheat Sheet On Ecology</h4>
                                </a>
                            </div>
                            <div class="br_cam"> <a href="" class="fa fa-camera"></a> </div>
                        </div>
                        <div class="br_single_news">
                            <img src="~/images/brt-banner2.jpg" alt="" />
                            <div class="br_single_text">
                                <span class="blue_hp_span">Travel</span> <a href="blog-single-slider-post.html">
                                    <h4>Notes from a vacation photographer</h4>
                                </a>
                            </div>
                            <div class="br_cam"> <a href="" class="fa fa-camera"></a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ~~~=| Banner END |=~~~ -->
<!-- ~~~=| Main Wrapper END |=~~~ -->
<section class="main_news_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-12">
                <!-- ~~~=| Fashion area START |=~~~ -->
                <div class="fashion_area">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="header_fasion">
                                <div class="left_fashion main_nav_box">
                                    <ul>
                                        <li class="nav_fashion"><a href="">Fashion</a></li>
                                    </ul>
                                </div>
                                <div class="fasion_right">
                                    <ul>
                                        <li><a href="">Style</a></li>
                                        <li><a href="">smart living</a></li>
                                        <li><a href="">fashion week</a></li>
                                        <li class="last_item"><a href="">...</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="fashion_area_box">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="fs_news_left">
                                            <div class="single_fs_news_left_text">
                                                <div class="fs_news_left_img">
                                                    <img src="~/images/ph.jpg" alt="" />
                                                    <div class="br_cam br_vid_big_s"> <a class="fa fa-camera" href=""></a> </div>
                                                </div>
                                                <h4><a href="blog-single-slider-post.html">Travelling With Technology Some Tips From.</a></h4>
                                                <p> <i class="fa fa-clock-o"></i> 3 min ago <i class="fa fa-comment"></i> 19 </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="all_news_right">
                                            <div class="fs_news_right">
                                                <div class="single_fs_news_img"> <img src="~/images/fasn1.png" alt="Single News" /> </div>
                                                <div class="single_fs_news_right_text">
                                                    <h4><a href="blog-single-slider-post.html">Thoughts on remaining casually chic</a></h4>
                                                    <p> <a href="">Fashion </a>| <i class="fa fa-clock-o"></i> 1 hour ago </p>
                                                </div>
                                            </div>
                                            <div class="fs_news_right">
                                                <div class="single_fs_news_img"> <img src="~/images/fasn2.png" alt="Single News" /> </div>
                                                <div class="single_fs_news_right_text">
                                                    <h4><a href="blog-single-slider-post.html">They Are Wearing the Best From Paris Week</a></h4>
                                                    <p> <a href="">Fashion </a>| <i class="fa fa-clock-o"></i> 1 hour ago </p>
                                                </div>
                                            </div>
                                            <div class="fs_news_right last_right">
                                                <div class="single_fs_news_img"> <img src="~/images/fasn3.png" alt="Single News" /> </div>
                                                <div class="single_fs_news_right_text">
                                                    <h4><a href="blog-single-slider-post.html">Cruise 2015 Swim Trend: Blurred Lines</a></h4>
                                                    <p> <a href="">Fashion </a>| <i class="fa fa-clock-o"></i> 1 hour ago </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header_fasion gadgets_heading">
                                <div class="left_fashion main_nav_box">
                                    <ul>
                                        <li class="nav_gadgets"><a href="">GADGETS</a></li>
                                    </ul>
                                </div>
                                <div class="fasion_right"> <a href=""><img src="~/images/hor_dot.png" alt="" /></a> </div>
                            </div>
                            <div class="gadgets_area_box">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="fs_news_left fs_gadgets_news_left">
                                            <div class="fs_news_left_img_g">
                                                <img src="~/images/gradient1.jpg" alt="" />
                                                <div class="br_cam br_vid_big"> <a class="fa fa-caret-right" href=""></a> </div>
                                            </div>
                                            <div class="single_fs_news_left_text">
                                                <h4><a href="blog-single-slider-post.html">Tips for taking great city photos with your smartphone</a></h4>
                                                <p> <i class="fa fa-clock-o"></i> 3 min ago <i class="fa fa-comment"></i> 19 </p>
                                            </div>
                                            <div class="all_news_right">
                                                <div class="fs_news_right">
                                                    <div class="single_fs_news_img"> <img src="~/images/grd1.jpg" alt="Single News" /> </div>
                                                    <div class="single_fs_news_right_text">
                                                        <h4><a href="blog-single-slider-post.html">Internet trolls take pleasure in making you suffer</a></h4>
                                                        <p> <a class="gad_color" href="">Gadget </a>| <i class="fa fa-clock-o"></i> 1 hour ago </p>
                                                    </div>
                                                </div>
                                                <div class="fs_news_right">
                                                    <div class="single_fs_news_img"> <img src="~/images/gred2.jpg" alt="Single News" /> </div>
                                                    <div class="single_fs_news_right_text">
                                                        <h4><a href="blog-single-slider-post.html">Why tech accelerators may soon be as irrelevant as an MBA</a></h4>
                                                        <p> <a class="gad_color" href="">Gadget </a>| <i class="fa fa-clock-o"></i> 1 hour ago </p>
                                                    </div>
                                                </div>
                                                <div class="fs_news_right last_right">
                                                    <div class="single_fs_news_img"> <img src="~/images/gres3.jpg" alt="Single News" /> </div>
                                                    <div class="single_fs_news_right_text">
                                                        <h4><a href="blog-single-slider-post.html">Why tech accelerators may soon be as irrelevant as an MBA</a></h4>
                                                        <p> <a class="gad_color" href="">Gadget </a>| <i class="fa fa-clock-o"></i> 1 hour ago </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="fs_news_left fs_gadgets_news_left">
                                            <div class="fs_news_left_img_g"> <img src="~/images/gradient2.jpg" alt="" /> </div>
                                            <div class="single_fs_news_left_text">
                                                <h4><a href="blog-single-slider-post.html">Travelling With Technology Some Tips From.</a></h4>
                                                <p> <i class="fa fa-clock-o"></i> 3 min ago <i class="fa fa-comment"></i> 19 </p>
                                            </div>
                                            <div class="all_news_right">
                                                <div class="fs_news_right">
                                                    <div class="single_fs_news_img"> <img src="~/images/gred1.jpg" alt="Single News" /> </div>
                                                    <div class="single_fs_news_right_text">
                                                        <h4><a href="blog-single-slider-post.html">Internet trolls take pleasure in making you suffer</a></h4>
                                                        <p> <a class="gad_color" href="">Gadget </a>| <i class="fa fa-clock-o"></i> 1 hour ago </p>
                                                    </div>
                                                </div>
                                                <div class="fs_news_right">
                                                    <div class="single_fs_news_img"> <img src="~/images/grd2.jpg" alt="Single News" /> </div>
                                                    <div class="single_fs_news_right_text">
                                                        <h4><a href="blog-single-slider-post.html">Why tech accelerators may soon be as irrelevant as an MBA</a></h4>
                                                        <p> <a class="gad_color" href="">Gadget </a>| <i class="fa fa-clock-o"></i> 1 hour ago </p>
                                                    </div>
                                                </div>
                                                <div class="fs_news_right last_right">
                                                    <div class="single_fs_news_img"> <img src="~/images/grd3.jpg" alt="Single News" /> </div>
                                                    <div class="single_fs_news_right_text">
                                                        <h4><a href="blog-single-slider-post.html">Why tech accelerators may soon be as irrelevant as an MBA</a></h4>
                                                        <p> <a class="gad_color" href="">Gadget </a>| <i class="fa fa-clock-o"></i> 1 hour ago </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header_fasion gadgets_heading lifestyle_post_area">
                                <div class="left_fashion main_nav_box">
                                    <ul>
                                        <li class="nav_lifestyle"><a href="">LIFESTYLE</a></li>
                                    </ul>
                                </div>
                                <div class="fasion_right"> <a href=""><img src="~/images/hor_dot.png" alt="" /></a> </div>
                            </div>
                            <div class="fashion_area_box">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="fs_news_left">
                                            <div class="single_fs_news_left_text">
                                                <div class="fs_news_left_img">
                                                    <img src="~/images/lifes1.jpg" alt="life" />
                                                    <div class="br_cam"> <a class="fa fa-camera" href=""></a> </div>
                                                </div>
                                                <h4><a href="blog-single-slider-post.html">Travelling With Technology Some Tips From.</a></h4>
                                                <p> <i class="fa fa-clock-o"></i> 3 min ago <i class="fa fa-comment"></i> 19 </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="all_news_right">
                                            <div class="fs_news_right">
                                                <div class="single_fs_news_img">
                                                    <img src="~/images/lis2.jpg" alt="Single News" />
                                                    <div class="br_cam"> <a class="fa fa-camera" href=""></a> </div>
                                                </div>
                                                <div class="single_fs_news_right_text">
                                                    <h4><a href="blog-single-slider-post.html">Thoughts on remaining casually chic</a></h4>
                                                    <p> <a href="">Fashion </a>| <i class="fa fa-clock-o"></i> 1 hour ago </p>
                                                </div>
                                            </div>
                                            <div class="fs_news_right">
                                                <div class="single_fs_news_img"> <img src="~/images/lis3.jpg" alt="Single News" /> </div>
                                                <div class="single_fs_news_right_text">
                                                    <h4><a href="blog-single-slider-post.html">Hipster Yoga at the End of the World</a></h4>
                                                    <p> <a href="">Fashion </a>| <i class="fa fa-clock-o"></i> 1 hour ago </p>
                                                </div>
                                            </div>
                                            <div class="fs_news_right last_right">
                                                <div class="single_fs_news_img"> <img src="~/images/lis4.jpg" alt="Single News" /> </div>
                                                <div class="single_fs_news_right_text">
                                                    <h4><a href="blog-single-slider-post.html">Cruise 2015 Swim Trend: Blurred Lines</a></h4>
                                                    <p> <a href="">Fashion </a>| <i class="fa fa-clock-o"></i> 1 hour ago </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="home_add_box"> <img src="~/images/ht-add.jpg" alt="add" /> </div>
                            <div class="header_fasion gadgets_heading">
                                <div class="left_fashion main_nav_box">
                                    <ul>
                                        <li class="nav_video_post"><a href="">Video</a></li>
                                    </ul>
                                </div>
                                <div class="fasion_right"> <a href=""><img src="~/images/hor_dot.png" alt="" /></a> </div>
                            </div>
                            <div class="fashion_area_box video_area_box">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="all_news_right">
                                            <div class="fs_news_right">
                                                <div class="single_fs_news_img">
                                                    <img src="~/images/vid2.jpg" alt="Single News" />
                                                    <div class="br_cam"> <a class="fa fa-camera" href=""></a> </div>
                                                </div>
                                                <div class="single_fs_news_right_text">
                                                    <h4><a href="blog-single-slider-post.html">Thoughts on remaining casually chic</a></h4>
                                                    <p> <a class="video_f" href="">Fashion </a>| <i class="fa fa-clock-o"></i> 1 hour ago </p>
                                                </div>
                                            </div>
                                            <div class="fs_news_right">
                                                <div class="single_fs_news_img">
                                                    <img src="~/images/vid3.jpg" alt="Single News" />
                                                    <div class="br_cam br_vid"> <a class="fa fa-caret-right" href=""></a> </div>
                                                </div>
                                                <div class="single_fs_news_right_text">
                                                    <h4><a href="blog-single-slider-post.html">Hipster Yoga at the End of the World</a></h4>
                                                    <p> <a class="video_f" href="">Fashion </a>| <i class="fa fa-clock-o"></i> 1 hour ago </p>
                                                </div>
                                            </div>
                                            <div class="fs_news_right last_right">
                                                <div class="single_fs_news_img">
                                                    <img src="~/images/vid4.jpg" alt="Single News" />
                                                    <div class="br_cam br_vid"> <a class="fa fa-caret-right" href=""></a> </div>
                                                </div>
                                                <div class="single_fs_news_right_text">
                                                    <h4><a href="blog-single-slider-post.html">Scottish independence what history tells us about</a></h4>
                                                    <p> <a class="video_f" href="">Fashion </a>| <i class="fa fa-clock-o"></i> 1 hour ago </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="fs_news_left fs_news_vid_right">
                                            <div class="single_fs_news_left_text">
                                                <div class="fs_news_left_img">
                                                    <img src="~/images/vid1.jpg" alt="video" />
                                                    <div class="br_cam br_vid_big"> <a class="fa fa-caret-right" href=""></a> </div>
                                                </div>
                                                <h4><a href="blog-single-slider-post.html">The stock closed above $100 which marks a sell record</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="news_pagination">
                                <ul class="news_pagi">
                                    <li><a href="">1</a></li>
                                    <li><a href="">2</a></li>
                                    <li><a href="">3</a></li>
                                    <li class="dotlia"><a href="">. . .</a></li>
                                    <li class="nextlia"><a href="">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ~~~=| Fashion area END |=~~~ -->
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="home_sidebar">
                    <div class="purchase_sidebar">
                        <div class="purchase_sidebar_img">
                            <img src="~/images/sidebar1.jpg" alt="" />
                            <div class="purchase_overlay"></div>
                            <div class="purchase_sidebar_text">
                                <h2>Hash</h2>
                                <p>Give your website a re-design it deserves</p>
                                <div class="purchase_s"> <a href="">Purchase</a> </div>
                            </div>
                        </div>
                    </div>
                    <div class="follow_us_side">
                        <h2>Follow Us</h2>
                        <div class="all_single_follow">
                            <div class="single_follow_us">
                                <a href="">
                                    <i class="fa fa-facebook"></i><br>
                                    5638<br>
                                    Fans
                                </a>
                            </div>
                            <div class="single_follow_us twit">
                                <a href="">
                                    <i class="fa fa-twitter"></i><br>
                                    5638<br>
                                    Fans
                                </a>
                            </div>
                            <div class="single_follow_us goopl">
                                <a href="">
                                    <i class="fa fa-google-plus"></i><br>
                                    5638<br>
                                    Fans
                                </a>
                            </div>
                            <div class="single_follow_us last_one">
                                <a href="">
                                    <i class="fa fa-dribbble"></i><br>
                                    5638<br>
                                    Fans
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="follow_us_side">
                        <h2>Latest Post</h2>
                        <div class="all_news_right">
                            <div class="fs_news_right">
                                <div class="single_fs_news_img"> <img alt="Single News" src="~/images/side1.jpg"> </div>
                                <div class="single_fs_news_right_text">
                                    <h4><a href="blog-single-slider-post.html">Thoughts on remaining casually chic</a></h4>
                                    <p> <a href="">Fashion | </a> <i class="fa fa-clock-o"></i> 1 hour ago </p>
                                </div>
                            </div>
                            <div class="fs_news_right">
                                <div class="single_fs_news_img"> <img alt="Single News" src="~/images/side2.jpg"> </div>
                                <div class="single_fs_news_right_text">
                                    <h4><a href="blog-single-slider-post.html">Thoughts on remaining casually chic</a></h4>
                                    <p> <a href="">Fashion | </a> <i class="fa fa-clock-o"></i> 1 hour ago </p>
                                </div>
                            </div>
                            <div class="fs_news_right last_right">
                                <div class="single_fs_news_img"> <img alt="Single News" src="~/images/side3.jpg"> </div>
                                <div class="single_fs_news_right_text">
                                    <h4><a href="blog-single-slider-post.html">Thoughts on remaining casually chic</a></h4>
                                    <p> <a href="">Fashion | </a> <i class="fa fa-clock-o"></i> 1 hour ago </p>
                                </div>
                            </div>
                            <div class="fs_news_right last_right">
                                <div class="single_fs_news_img"> <img alt="Single News" src="~/images/side4.jpg"> </div>
                                <div class="single_fs_news_right_text">
                                    <h4><a href="blog-single-slider-post.html">Thoughts on remaining casually chic</a></h4>
                                    <p> <a href="">Fashion | </a> <i class="fa fa-clock-o"></i> 1 hour ago </p>
                                </div>
                            </div>
                            <div class="fs_news_right last_right">
                                <div class="single_fs_news_img"> <img alt="Single News" src="~/images/side5.jpg"> </div>
                                <div class="single_fs_news_right_text">
                                    <h4><a href="blog-single-slider-post.html">Thoughts on remaining casually chic</a></h4>
                                    <p> <a href="">Fashion | </a> <i class="fa fa-clock-o"></i> 1 hour ago </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="follow_us_side">
                        <h2>Image Gallery</h2>
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <div class="br_single_news">
                                        <img alt="" src="~/images/side_slider.jpg">
                                        <div class="br_cam"> <a class="fa fa-camera" href=""></a> </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="br_single_news">
                                        <img alt="" src="~/images/side_slider.jpg">
                                        <div class="br_cam"> <a class="fa fa-camera" href=""></a> </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="br_single_news">
                                        <img alt="" src="~/images/side_slider.jpg">
                                        <div class="br_cam"> <a class="fa fa-camera" href=""></a> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ~~~=| Main Wrapper END |=~~~ -->

