﻿@model List<MvcBlogg.Areas.Admin.Models.DTO.BlogPostVm>

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Index";
}

<link href="~/Areas/Admin/Content/css/dataTables.bootstrap.css" rel="stylesheet" />
<script src="~/Areas/Admin/Content/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Areas/Admin/Content/Scripts/dataTables.bootstrap.min.js"></script>
<script src="~/Areas/Admin/Content/Scripts/custom/deleteRecord.js"></script>

<section class="content-header">
    <h1>
        Blog List
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Category List</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Data Table With Full Features</h3>
                </div>
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Category</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="a_@item.ID">
                                    <td>@item.ID</td>
                                    <td>@item.Title</td>
                                    <td>@item.CategoryName</td>
                                    <td><a href="/Admin/BlogPost/UpdateBlog/@item.ID">Edit</a></td>
                                    <td>
                                        <img style="cursor:pointer" onclick="Delete('/Admin/BlogPost/DeleteBlog/',@item.ID)" height="15" width="15" src="~/Areas/Admin/Content/images/delete.png" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Category</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
        $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });
        });
</script>

