﻿
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Update Blog";
}
<section class="content-header">
    <h1>
        Update Post
        <small>Add new</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">General Elements</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-10">
            @Html.Partial("_FormMessagesPartial")
            @using (Html.BeginForm("UpdateBlog", "BlogPost", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.Partial("_BlogPost")
            }
        </div>
    </div>
</section>
