﻿@model MvcBlogg.Areas.Admin.Models.DTO.CategoryVm

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "AddCategory";
}

<section class="content-header">
    <h1>
        Category
        <small>Add new</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">General Elements</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-10">
            @Html.Partial("_FormMessagesPartial")
            @Html.Partial("_CategoryForm")
        </div>
    </div>
</section>



