﻿<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if lt IE 7 ]> <html lang="en" class="ie6">    <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7">    <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8">    <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9">    <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hash | Versatile HTML5 Bloge Homepage</title>

    <!-- ~~~=| Fonts files |==-->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300,700,900,700italic,400italic,300italic,100' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,400italic,500,700,700italic,900' rel='stylesheet' type='text/css'>

    <!-- ~~~=| Font awesome |==-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

    <!-- ~~~=| Bootstrap css |==-->
    <link rel="stylesheet" href="~/css/bootstrap.css">

    <!-- ~~~=| Theme files |==-->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" href="~/~/images/apple-touch-icon-precomposed.png">
    <link rel="shortcut icon" type="image/ico" href="~/~/images/favicon.ico" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!-- Done by Shakhawat H. from codingcouples.com // -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
<body>

    <!-- ~~~=| Header START |=~~~ -->
    @Html.Partial("_Header")
    <!-- ~~~=| Header END |=~~~ -->
    @RenderBody()
    <!-- ~~~=| Footer START |=~~~ -->
    @Html.Partial("_Footer")
    <!-- ~~~=| Footer END |=~~~ -->
    <!-- ~~~=| Latest jQuery |=~~~ -->
    <script src="https://code.jquery.com/jquery.min.js"></script>

    <!-- ~~~=| Bootstrap jQuery |=~~~ -->
    <script src="~/js/bootstrap.min.js"></script>

    <!-- ~~~=| Opacity & Other IE fix for older browser |=~~~ -->
    <!--[if lte IE 8]>
            <script type="text/javascript" src="js/ie-opacity-polyfill.js"></script>
        <![endif]-->
    <!-- ~~~=| Theme jQuery |=~~~ -->
    <script src="~/js/main.js"></script>
</body>
</html>
