﻿
@{
    ViewBag.Title = "Add Site Map";
}
<script src="~/Areas/Admin/Content/Scripts/jquery.validate.js"></script>
<section class="content-header">
    <h1>
        Site Menu
        <small>Add new</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">General Elements</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-10">
            @Html.Partial("_FormMessagesPartial")
            <div class="box box-primary">
                <div class="box-body">
                    <form id="formSiteMenu" action="/Admin/SiteMenu/AddSiteMenu" method="post">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" name="Name" value="" />
                        </div>
                        <div class="form-group">
                            <label>Url</label>
                            <input type="text" value="" class="form-control" name="Url" />
                        </div>
                        <div class="form-group">
                            <label>Css Class</label>
                            <input type="text" name="cssClass" class="form-control" value="" />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="Save" />

                        </div>
                    </form>
                </div>        
            </div>
            </div>
        </div>
</section>
<script>
    $("#formSiteMenu").validate();
</script>