﻿@model MvcBlogg.Areas.Admin.Models.DTO.BlogPostVm

<script src="~/Areas/Admin/Content/Scripts/ckeditor/ckeditor.js"></script>
<script src="~/Areas/Admin/Content/Scripts/ckeditor/config.js"></script>

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Quick Example</h3>
    </div>
    
        <div class="box-body">
            <div class="form-group">
                @Html.LabelFor(x => x.Title)
                @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = "Enter category name ..." })
                @Html.ValidationMessageFor(x => x.Title)
            </div>
            <div>
                @Html.LabelFor(x=>x.PostImage)
                <input type="file" name="PostImage" value="" />
            </div>
            <div class="form-group">
                <label>Category</label>
                @Html.DropDownList("CategoryId", Model.drpCategories,"Select Category", new { @class = "form-control" })

            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Content)
                @Html.TextAreaFor(x => x.Content, new { @class = "ckeditor" })
                @Html.ValidationMessageFor(x => x.Content)
            </div>
        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
</div>
