﻿@using MvcBlogg.Areas.Admin.Models.Types

@if (ViewBag.Isuccess == 1)
{
    <div class="alert alert-success alert-dismissible">
        <button class="close" type="button" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-check"></i> Success</h4>
        @FormMessages.addSucess
    </div>
}
else if (ViewBag.Isuccess == 2)
{
    <div class="alert alert-warning alert-dismissible">
        <button class="close" type="button" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-warning"></i> Alert!</h4>
        @FormMessages.addError
    </div>
}
